<div class='row'>
  <div class='col-12'>
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
    <hr />
  </div>

  <div class='col-12'>
    <ul>
      <li>Number of comments: {{restaurant.Comments.length}}</li>
      <li>Number of views: {{restaurant.viewCounts}}</li>
      <li>Number of saves: {{restaurant.FavoritedUsers.length}}</li>
    </ul>
  </div>
  <div class='col-12'>
    <button
      class='btn btn-primary'
      onclick='history.back()'
      type='submit'
    >Back</button>
  </div>
</div>