<ul class="nav nav-tabs">
 <li class="nav-item">
   <a class="nav-link active" href="#">首頁</a>
 </li>
 <li class="nav-item">
   <a class="nav-link" href="/restaurants/feeds">最新動態</a>
 </li>
 <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/top">人氣餐廳</a>
  </li>
</ul>
<br/>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link {{#ifCond '' categoryId}}active{{/ifCond}}" href="?categoryId=">全部</a>
  </li>
  {{#each categories}}
    <li class="nav-item">
      <a class="nav-link {{#ifCond this.id ../categoryId}}active{{/ifCond}}" href="?categoryId={{this.id}}">{{this.name}}</a>
    </li>
  {{/each}}
</ul>
<br/>
<div class="row" id="data-panel">
  {{#each restaurants}}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="{{this.image}}" alt="Card image cap" width="286px" height="180px">
        <div class="card-body">
          <p class="card-text">
            <a href="/restaurants/{{this.id}}">
              {{this.name}}
            </a>
          </p>
          <span class="badge badge-secondary">{{this.categoryName}}</span>
          <p class="card-text">{{this.description}}</p>
          {{#if this.isFavorited }}
            <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: contents;"><button type="submit" class="btn btn-danger">Remove from Favorite</button></form>
          {{else}}
            <form action="/favorite/{{this.id}}" method="POST" style="display: contents;"><button type="submit" class="btn btn-primary">Add to Favorite</button></form>
          {{/if}}
          <div class="like-container" style="display: contents;">
          {{#if this.isLiked }}
            <button class="btn btn-danger likeBtn" data-id="{{this.id}}">Unlike</button>
          {{else}}
            <button class="btn btn-primary likeBtn" data-id="{{this.id}}">Like</button>
          {{/if}}
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<br />
<br />
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="/restaurants?page={{prev}}&categoryId={{categoryId}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each totalPage}}
      {{#ifCond this ../page}}
        <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
      {{else}}
        <li class="page-item"><a class="page-link" href="/restaurants?page={{this}}&categoryId={{../categoryId}}">{{this}}</a></li>
      {{/ifCond}}
    {{/each}}
    <li class="page-item">
      <a class="page-link" href="/restaurants?page={{next}}&categoryId={{categoryId}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const dataPanel = document.querySelector("#data-panel")

  const changeLike = async e =>  {
    try {
      const target = e.target
      let response
      if (target.closest('.like-container')) {
        if (target.textContent === 'Like') {
          response = await axios.post(`/like/${target.dataset.id}`)
        } else {
          response = await axios.delete(`/like/${target.dataset.id}`)
        }
        target.textContent = response.data.likeBtn
        target.classList.toggle('btn-primary')
        target.classList.toggle('btn-danger')
      }
    } catch (err) {
      console.log(err)
    }
  }

  dataPanel.addEventListener('click', changeLike)
</script>