<div class="row" id="data-panel">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{restaurant.image}}" style="width: 250px;margin-bottom: 25px;">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Opening Hour:</strong> {{restaurant.opening_hours}}</li>
        <li><strong>Tel:</strong> {{restaurant.tel}}</li>
        <li><strong>Address:</strong> {{restaurant.address}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <p>{{restaurant.description}}</p>
    <a href="/restaurants/{{restaurant.id}}/dashboard" class="btn btn-primary">Dashboard</a>

    <div class="fav-container" style="display: contents;" data-id="{{restaurant.id}}">
      {{#if isFavorited }}
        <button class="btn btn-danger favBtn">Remove from Favorite</button>
      {{else}}
        <button class="btn btn-primary favBtn">Add to Favorite</button>
      {{/if}}
    </div>

    <div class="like-container" style="display: contents;" data-id="{{restaurant.id}}">
    {{#if isLiked }}
      <button class="btn btn-danger likeBtn" >Unlike</button>
    {{else}}
      <button class="btn btn-primary likeBtn" >Like</button>
    {{/if}}
    </div>
    
  </div>
  <hr>
</div>
<br /><br />
<h3>所有評論：</h3>
{{#each restaurant.Comments}}
  {{#if ../user.isAdmin}}
    <form action="/comments/{{this.id}}?_method=DELETE" method="POST" style="float: right;" onsubmit="return checkDelete()">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  {{/if}}
  <blockquote class="blockquote mb-0">
    <h4><a href="/users/{{this.User.id}}">{{this.User.name}}</a></h4>
    <p style="word-break: break-word;">{{this.text}}</p>
    <footer class="blockquote-footer">{{moment this.createdAt}}</footer>
  </blockquote>
  <hr />
{{/each}}
{{> message}}
<form action="/comments" method="POST">
  <div class="form-group">
    <label for="text">Leave your comment：</label>
    <small>(Min. 50 characters & Max. 200 characters)</small>
    <textarea class="form-control" id="text" name="text" rows="3" maxlength="200" placeholder="Write your comment">{{userInput}}</textarea>
    
  </div>
  <input type="hidden" name="restaurantId" value="{{restaurant.id}}" />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br />
<br />
<a href="javascript:history.back()">回上一頁</a>
