<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/top">人氣餐廳</a>
  </li>
</ul>
<br /><br />
{{> message}}
<h1>人氣餐廳</h1>
<hr />
<div class="row">
  {{#each restaurants}}
    <div class="col-12 d-flex justify-content-center">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{this.image}}" width="100%">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <span class="badge badge-secondary">收藏數： {{this.favCount}}</span>
              <p class="card-text">{{this.description}}</p>
              <a href="/restaurants/{{this.id}}" class="btn btn-primary" >Show</a>
              {{#if this.isFavorited }}
                <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: contents;"><button type="submit" class="btn btn-danger">Remove from Favorite</button></form>
              {{else}}
                <form action="/favorite/{{this.id}}" method="POST" style="display: contents;"><button type="submit" class="btn btn-primary">Add to Favorite</button></form>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>

    
  {{/each}}
</div>
